body {
    background-image: url(../images/pattern.png);
    background-size: 100%;
  }
  
  #star1, #star3, #star4, #star {
    animation-name: star1a;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
  }
  
  #star1:hover, #star3:hover, #star4:hover, #star:hover{
    animation-name: star1b;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }

  #star1 {
    width: 16%;
    position: absolute;
    left: 70%;
    margin-top: 20.5%;
  }

  #star3 {
    width: 18.5%;
    position: absolute;
    left: 10%;
    margin-top: 4.5%;
  }

  #star4 {
    width: 20.5%;
    position: absolute;
    left: 7.9%;
    margin-top: 34.7%;
  }
  
  @keyframes star1a {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes star1b {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }