#star1, #star3, #star4, #star {
  animation-name: star1a;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

#star1:hover, #star3:hover, #star4:hover, #star:hover{
  animation-name: star1b;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

#star1 {
  width: 7.9%;
  position: absolute;
  left: 35.2%;
  margin-top: 10.2%;
}

#star3 {
  width: 9%;
  position: absolute;
  left: 5.3%;
  margin-top: 2.4%;
}

#star4 {
  width: 10.1%;
  position: absolute;
  left: 4.2%;
  margin-top: 17.3%;
}

@keyframes star1a {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes star1b {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}