.intro {
    display: inline-block;
    background-color: rgba(250, 243, 225, 0.9);
    color: #295ab3;
    text-align: justify;
    border-radius: 3%;
    margin: 15%;
    margin-right: 0%;
    padding: 5%;
    width: 60%;
}

canvas {
  background-color: rgba(250, 243, 225, 1);
}

#star2 {
    width: 14.5%;
    position: absolute;
    left: 85.8%;
    margin-top: 21.4%;
    animation-name: star2a;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
   
  }
  
  #star2:hover {
    animation-name: star2b;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
  
  @keyframes star2a {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes star2b {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }