body {
  background-image: url(images/pattern1.png);
  background-size: 100%;
}

#star1 {
  width: 13%;
  height: 13%;
  position: relative;
  left: 66.5%;
  margin-right: 33.5%;
  margin-top: 29%;
  animation-name: star1a;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
 
}

#star1:hover {
  /* opacity: 1; */
  animation-name: star1b;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes star1a {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes star1b {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}